.form1{
    text-align:center;
}

.lable1{
    color:red;
}

.lable2{
    color:green;
}

.lable3{
    color:darkgreen;
}

.lable4{
    color:blue;
}

.lable5{
    color:brown;
}

.lable6{
    color:violet;
}

.lable7{
    color:purple;
}

body{
    background-color:lightgoldenrodyellow;
}
.h1{
    text-align: center;
    color: brown;
}